= t("email.user_added_to_discussion.content", which_discussion: @discussion.title, who: @inviter.name)
\
= @message_body
\
= t(:"invitation.discussion_link", group: @invitation.group.name, discussion: @invitation.invitable_name)
= invitation_url(@invitation)